<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/images/mail.ico" rel="icon" type="image/x-icon">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Логин</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="text-center" style="height:100vh;position: relative;display:flex;align-items:center;justify-content:center;flex-direction:column;">
   
    <div id="app"> 
      
      <form v-if='show' class='border border-primary' style="width: 100%;max-width: 330px;padding: 15px;margin: auto;display:flex;align-items:center;flex-direction:column;justify-content:center;background:white; border-radius:15px;" method="POST">
          
       <h1 class="h3 mb-3 font-weight-normal">Войдите,чтобы продолжить!</h1>
      <input type="text" name="username"  class="form-control" placeholder="Логин" required="" autofocus="">
      <input type="password" name="password" id="inputPassword" class="form-control mt-2" placeholder="Пароль" required="">
      
      <input type="hidden" name='login'>

      <button class="btn btn-lg btn-primary btn-block mt-2" type="submit">Войти</button>
      <button class="btn btn-lg btn-success btn-block mt-1" @click='show = !show'>Регистрация</button>
      
      </form>

      <form v-else class='border border-primary' style="background:white;border-radius:15px;width: 100%;max-width: 330px;padding: 15px;margin: auto;display:flex;align-items:center;flex-direction:column;justify-content:center;" method="POST" id='reg_form'>
      
    <h1 class="h3 mb-3 font-weight-normal">Зарегистрируйся,чтобы продолжить!</h1>
  <input type="text" name="login"  class="form-control" placeholder="Логин" required="" autofocus="">   
  <input type="e-mail" name="email" class="form-control mt-2" placeholder="E-mail" required="">      
  <input type="password" name="password" id="inputPassword" class="form-control mt-2" placeholder="Пароль" required="">
  <input type="password" name="password" id="inputPassword_rep" class="form-control mt-2" placeholder="Повторите пароль" required="">
  <small class="text-danger d-none mt-2">Пароли не совпадают</small>

  <input type="hidden" name='register'>

  <button class="btn btn-lg btn-primary btn-block mt-2" id="reg_btn" type="submit">Зарегистрироваться</button>
  <button class="btn btn-lg btn-success btn-block mt-1" @click='show = !show'>Форма входа</button>
    
      </form>

    </div>

    {% for message in messages %}
      <center class="messages">
          <div {% if message.tags == 'error' %} class="alert message alert-success" {% else %} class="alert message alert-danger" {% endif %} role="alert">
              {{ message }}
          </div>
        </center>
      {% endfor %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript">
      const small = document.querySelector('small'),
            password = document.getElementById('inputPassword'),
            password_rep = document.getElementById('inputPassword_rep');
      
      password_rep.addEventListener('input',() => {
          if(password.value == '' || password_rep.value == ''){
              if(!small.classList.contains('d-none')){
                  small.classList.add('d-none')
              }
          }else if(password_rep.value != password.value){
              small.classList.remove('d-none','text-success')
              small.classList.add('text-danger')
              small.textContent = 'Пароли не совпадают'
          }else{
              small.classList.remove('d-none','text-danger')
              small.classList.add('text-success')
              small.textContent = 'Отлично'
          }
      })

      document.getElementById('reg_form').addEventListener('submit',(e) => {
          e.preventDefault();
          if(password_rep.value == password.value){
              document.getElementById('reg_form').submit()
          }
      })

    </script>
    {% include "vue-connection.html" %}

    <script type="text/javascript">
      let app = new Vue({
        el:'#app',
        data:{
          show:true
        }
      })


    </script>

  </body>
</html>
