<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Выбери комнату</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div id="app" style="min-height: 100vh;widows: 100%;display:flex;align-items: center;justify-content: center;">
        <p>Главная страница</p>
    </div>

    {% include "vue-connection.html" %}
    <script type="text/javascript">
        Vue.options.delimiters = ['<%','%>']



        new Vue({
            el:'#app',
            data:{
                users:['']
            }
        })


    </script>
</body>
</html>