<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat Application</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="text-center" style="height:100vh;position: relative;display:flex;align-items:center;justify-content:center;flex-direction:column;">

    
        <div id="root"> 
      
            <form v-if='active_state == "login"' onsubmit='return false' class='border border-primary' style="width: 100%;max-width: 330px;padding: 15px;margin: auto;display:flex;align-items:center;flex-direction:column;justify-content:center;background:white; border-radius:15px;" method="POST">
                
             <h1 class="h3 mb-3 font-weight-normal">Войдите,чтобы продолжить!</h1>
            <input type="text" name="username" v-model='login_form.login' class="form-control" placeholder="Логин" required="" autofocus="">
            <input type="password" name="password" v-model='login_form.password' id="inputPassword" class="form-control mt-2" placeholder="Пароль" required="">
            
    
      
            <button class="btn btn-lg btn-primary btn-block mt-2" @click='login()' type="submit">Войти</button>
            <button class="btn btn-lg btn-success btn-block mt-1" @click='active_state = "register"'>Регистрация</button>
            
            </form>
      
            <form v-if='active_state == "register"' onsubmit='return false' id='reg_form' class='border border-primary' style="background:white;border-radius:15px;width: 100%;max-width: 330px;padding: 15px;margin: auto;display:flex;align-items:center;flex-direction:column;justify-content:center;" method="POST" >
            
          <h1 class="h3 mb-3 font-weight-normal">Зарегистрируйся,чтобы продолжить!</h1>
            <input type="text" name="username" v-model='register_form.login' class="form-control" placeholder="Логин" required="" autofocus="">   
            <input type="password" name="password" v-model='register_form.password' id="inputPassword" class="form-control mt-2" placeholder="Пароль" required="">
            
      
            <button class="btn btn-lg btn-primary btn-block mt-2" id="reg_btn" @click='register()' type="submit">Зарегистрироваться</button>
            <button class="btn btn-lg btn-success btn-block mt-1" @click='active_state = "login"'>Форма входа</button>
          
            </form>
      
            <div class="full_screen" v-if='active_state == "user-list"'>
              <div class="row">
                <div class="col-4 p-4">
                    <center><h4>Найди своих друзей</h4></center>
                  <input type="text" id="search-users" class="form-control" @input='search_users()' v-model='working_with_users.search_req' placeholder="Username или id">
                
                  <div  id="searching_container">  
                    <div v-for='user in working_with_users.users_to_show' class="person bg-light mt-2">
                      <h3><b><% user.username %></b></h3>
                      <button type="button" v-if='user.status == "ready_to_send" && user.id != user_id' class="btn btn-success" @click='send_friend_request(user.id)'>Добавить в друзья</button>      
                      <p v-if='user.status == "request" && user.id != user_id'>Запрос дружбы отправлен</p>
                      <p v-if='user.status == "friends" && user.id != user_id'>У вас в друзьях</p>
                      <p v-if='user.id == user_id' class="text-success">Это вы!</p>
                    </div>

                    <button type="button" v-if='working_with_users.load_more' @click='load_users()' class="btn btn-primary btn-block mt-4">Загрузить еще</button>

                  </div>
                </div>

                <div class="col-4 p-4" id="requests_container">
                    <div v-if='current_user.is_any_requests'>
                    <center><h4>Запросы в друзья <span class="badge badge-light"><% current_user.requests.length %></span></h4></center>
                    <div v-for='user in current_user.requests' class="person bg-light mt-2">
                        <h3><b><% user.username %></b></h3>
                        <button type="button" class="btn btn-success" @click='accept_friend_request(user.id)'>Добавить</button>      
                        <button type="button" class="btn btn-success" @click='deny_friend_request(user.id)'>Отклонить</button>      
                      </div>
                    </div>

                    <div v-if='!current_user.is_any_requests' style="height:100%;width:100%;display:flex;align-items:center;justify-content:center;flex-direction:column;">
                        <h4>У вас пока что нет заявок 🤷🏼‍♀️</h4>
                    </div>

                </div>

                <div class="col-4 p-4" id="friends_container">
                    <div v-if='current_user.is_any_friends'>
                    <center><h4>Друзья <span class="badge badge-light"><% current_user.friends.length %></span></h4></center>
                    <div v-for='user in current_user.friends' class="person bg-light mt-2">
                        <h3><b><% user.username %></b></h3>
                        <button type="button" class="btn btn-success" @click='active_state = "messaging-list"'>Написать</button>      
                    </div>
                    </div>

                    <div v-if='!current_user.is_any_friends' style="height:100%;width:100%;display:flex;align-items:center;justify-content:center;flex-direction:column;">
                        <h4>У вас пока что нет друзей 🙊</h4>
                    </div>

                </div>

              </div>
            </div>
            

            <div class="full_screen" v-if='active_state == "messaging-list" || active_state=="writting-message"'>
              <div class="row">
                <div class="col-3 person-list" style="margin-top:12px;">

                  <div v-for='user in current_user.friends' @click='change_state_to_messaging(user.id)' class="person bg-light">
                    <h3><b><% user.username %></b></h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam quaerat doloremque qui asperiores culpa neque quas voluptates facere, eveniet ducimus perferendis ea sit, aliquid voluptatum quasi esse nihil repudiandae deleniti.</p>
                  </div>
                  

                </div>
                <div class="col-9">

                    <h1 class="bg-light" v-if='active_state=="messaging-list"' >Вы пока что не начали диалог ни с кем 🤪</h1>
                    <div id="messages-block" v-if='active_state=="writting-message"' class="bg-light">
                      <center><h2 class="mt-4"><%current_user.whom_messaging.username%> <img @click='start_call(current_user.whom_messaging.id)' src="https://image.flaticon.com/icons/png/512/523/523081.png" style="height:30px;width:30px; cursor:pointer;" alt=""></h2>  </center>

                      <ul id="messages" style="position:relative;">
                          <li v-for='message in current_user.history' v-bind:class="{him:(message.from_id != current_user.id),me:(message.from_id == current_user.id)}"><% message.msg %></li>
                          <div id="bottom" style="position:absolute;bottom:0;"></div>
                      </ul>

                      <input type="text" placeholder="Введите сообщение..." id="message-input" v-model='current_user.active_message'>
                      <button type="button" class="btn btn-primary" id='send-mess-btn' @click='send_message(current_user.whom_messaging.id)'>⌲</button>
                    </div>

                </div>
              </div>
            </div>


            <div id="modal-bg" v-if='video_calls.is_calling' style="position: fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.5);;display:flex;align-items:center;justify-content:center;flex-direction:column;">
              <div id="modal" style="height:200px;min-width:200px;padding:0 20px;background:white;border-radius:15px;display:flex;align-items:center;justify-content:space-around;flex-direction:column;opacity:1;">
                
                  <div v-if='!video_calls.i_call'>
                  <h1><% video_calls.username %></h1>

                  <div class="row">
                    <div class="col-6">
                      <img src="../static/accept.svg" style="height:50px;width:50px;" @click='accept_call(video_calls.user_id)' alt="">
                    </div>
                    <div class="col-6">
                      <img src="../static/deny.svg" style="height:50px;width:50px;" @click='deny_call(video_calls.user_id)' alt="">
                    </div>
                  </div>
                </div>

                <div v-if='video_calls.i_call'>
                    <h1><% current_user.whom_messaging.username %></h1>
                    <p>Звонок...</p>
                  </div> 

              
              </div>
            </div>

          </div>

          
          <video autoplay height='300' width='300' style="position:fixed;bottom:0;left:0;z-index: 9999;" src="" id='my'>

          </video>
          <video autoplay height='300' width='300' style="position:fixed;bottom:0;left:300px;z-index: 999999;" src="" id='not_my'>

          </video>


    {% include "vue-connection.html" %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="../static/main.js"></script>


</body>
</html>